In [1]:
from youtube_transcript_api import YouTubeTranscriptApi
import pandas as pd


def get_youtube_video_transcript_dataframe(youtube_url):
    try:
        # Extract video ID from the URL
        video_id = youtube_url.split("v=")[-1]

        # Get the transcript
        transcript = YouTubeTranscriptApi.get_transcript(video_id)

        # Create an empty list to store the transcript data
        transcript_data = []

        # Loop through each transcript item and extract timestamp and text
        for item in transcript:
            start_time = item["start"]
            end_time = item["start"] + item["duration"]
            text = item["text"]
            transcript_data.append({"Start": start_time, "End": end_time, "Text": text})

        # Convert the list to a pandas DataFrame
        df = pd.DataFrame(transcript_data)

        return df

    except Exception as e:
        print("Error:", e)
        return None

# Replace the following with the YouTube video URL of your choice
youtube_url = "https://www.youtube.com/watch?v=sJwIQW4rbUM&ab_channel=BiggerPockets"
transcript_df = get_youtube_video_transcript_dataframe(youtube_url)

if transcript_df is not None:
    print(transcript_df.head())
else:
    print("Failed to get the transcript.")

   Start     End                                     Text
0  0.000   3.959   how many bits do you believe about the
1  2.639   4.980      mortgage industry is there a chance
2  3.959   6.600     you've been running around with that
3  4.980   8.280  info in your head that if you got right
4  6.600  10.019   could actually make you a lot of money

# Processed

In [2]:
df = transcript_df

# Combine rows in groups of 10
combined_rows = []
group_size = 10
num_groups = (len(df) + group_size - 1) // group_size  # Calculate the number of groups

for i in range(num_groups):
    start_idx = i * group_size
    end_idx = min(start_idx + group_size, len(df)) - 1  # Handle last group with fewer than 10 rows
    start_text = df.loc[start_idx, 'Text']
    end_text = df.loc[end_idx, 'Text']
    combined_text = ' '.join(df.loc[start_idx:end_idx, 'Text'])
    combined_rows.append({'Start': df.loc[start_idx, 'Start'], 'End': df.loc[end_idx, 'End'], 'Text': combined_text})

# Create a new DataFrame with combined rows
combined_df = pd.DataFrame(combined_rows)

combined_df.head()

    Start     End                                               Text
0   0.000  17.640  how many bits do you believe about the mortgag...
1  16.139  35.579  perfectly as we can we've come to the right pl...
2  33.239  53.820  coming up on today's show of mortgage Mondays ...
3  52.379  74.280  glad to hear it all right let's get into this ...
4  72.540  90.360  the Burr in most cases now is there a value to...

# Short selected word

In [3]:
selected_word = pd.read_csv('slected_word.csv')
selected_word.drop(columns='Unnamed: 0', inplace=True)
selected_word.head()

         Word  Frequency
0      people         37
1    property         34
2      market         23
3         one         22
4  properties         20

In [4]:
# combine into 1 text
# Combine the words into a single text
short_combined = ' '.join(selected_word['Word'])
short_combined

'people property market one properties real right money really want going estate good would cash buy look lot deal make house two find equity way'

# Cosine SImilarity selection

In [5]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load the datasets
video_transcript_df = combined_df

# Create a TF-IDF vectorizer
vectorizer = TfidfVectorizer(stop_words='english')

# Vectorize the video transcript and short combined transcript text
video_transcript_vectors = vectorizer.fit_transform(video_transcript_df['Text'])
short_combined_vector = vectorizer.transform([short_combined])

# Calculate cosine similarity for each row in video transcript against the combined short transcript
cosine_similarities = cosine_similarity(video_transcript_vectors, short_combined_vector)

# Add the similarity scores to the video transcript DataFrame
video_transcript_df['SimilarityScore'] = cosine_similarities

# Sort the video transcript DataFrame by similarity score in descending order
result_df = video_transcript_df.sort_values(by='SimilarityScore', ascending=False)

# Reset the index of the sorted DataFrame
result_df = result_df.reset_index(drop=True)

# Display the result DataFrame
result_df

,Start,End,Text,SimilarityScore
0,597.839,618.000,offer it it's more difficult cold than a norma...,0.247375
1,385.380,404.460,good for me right don't just go pull your cred...,0.247273
2,756.120,774.959,appreciate you helping me dispel some of these...,0.228006
3,616.320,634.980,them on Zillow are the hardest to put in a con...,0.223601
4,106.500,128.580,just buy a primary residence every year if pos...,0.183452
5,0.000,17.640,how many bits do you believe about the mortgag...,0.180537
6,164.340,184.019,deal and if you get more than your money out s...,0.172303
7,52.379,74.280,glad to hear it all right let's get into this ...,0.167504
8,126.960,146.160,payment and the Renault or if you're just refi...,0.148629
9,544.200,562.560,conventional one and there's a hard money one ...,0.144501
10,632.940,652.320,been sitting on the market for 250 days but th...,0.139434
11,16.139,35.579,perfectly as we can we've come to the right pl...,0.138131
12,668.880,688.079,load that makes it easier to get into a proper...,0.131370
13,366.840,387.180,credit long term because you're building up in...,0.120893
14,72.540,90.360,the Burr in most cases now is there a value to...,0.114727
15,722.700,741.240,refinance right you you piecemeal it like you ...,0.114033
16,454.560,473.819,someone did I would say this is a stupid way t...,0.110508
17,506.099,525.660,you got to learn how to play this game if you ...,0.108616
18,33.239,53.820,coming up on today's show of mortgage Mondays ...,0.096219
19,88.740,109.020,ideally you want the juice to be worth the squ...,0.090420
20,198.720,222.000,money out normally you'd had to put 20 down or...,0.088772
21,650.459,670.500,term they're incredibly difficult to use to ge...,0.085100
22,773.160,790.440,for mortgages people are trying to get you in ...,0.081317
23,580.140,600.120,of after the property is renovated and you can...,0.075493
24,436.620,456.539,to a horrible financial crisis where I believe...,0.072560
25,402.240,420.780,often has no idea how loan stuff goes they bar...,0.067641
26,291.600,312.060,experience being a broker getting approved in ...,0.066318
27,788.399,808.680,theonbrokerge.com and that's also our website ...,0.065460
28,237.900,257.699,you're basically setting yourself back one mon...,0.056323
29,489.300,507.300,payments on time there's a lot of things that ...,0.052390
30,704.640,724.500,property working or being able to Front The Up...,0.049465
31,274.860,293.280,717 for the next four years absolutely not tha...,0.044499
32,254.580,277.560,rate so dropping from a 720 to a 717 is not go...,0.042487
33,419.340,438.840,like they know their stuff if you read it what...,0.040911
34,330.539,350.280,shouldn't come to another broker to do the sam...,0.040097
35,310.440,332.400,years still have good credit at a certain poin...,0.037712
36,739.019,758.100,you know so typically historically speaking th...,0.036640
37,348.780,367.860,can get multiple credit pulls and it will only...,0.036132
38,523.979,545.580,take these two couples and have them sleeping ...,0.036037
39,471.840,491.220,understand why they do that but they do I also...,0.024530
40,561.120,582.000,and refinance and do a better product the one ...,0.023627
41,219.959,239.280,credit score Christian what say you about this...,0.018666
42,182.280,200.340,you just bought it traditionally so in other w...,0.017628
43,144.360,165.780,Grand Slam but no I would definitely not class...,0.017124
44,686.279,706.560,easier versus trying to use one load product f...,0.011268
45,807.420,826.910,you with because we care about your financial ...,0.000000
46,824.760,847.880,already see you on the next one [Music] [Music...,0.000000

In [6]:
result_df.to_csv('Algo4-4_result.csv')